<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store-connect</string>
    <key>destination</key>
    <string>upload</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>teamID</key>
    <string>5BDB573D9N</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>kr.me.seesaw.tempo</key>
        <string>tempo AppStore</string>
        <key>kr.me.seesaw.tempo.watchkitapp</key>
        <string>TempoWatch AppStore</string>
        <key>kr.me.seesaw.tempo.TempoWidget</key>
        <string>TempoWidget AppStore</string>
    </dict>
</dict>
</plist>
